{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h2>Add a new Serie !</h2>
        {{ form_start(serieform) }}
        {{ form_widget(serieform) }}
        <button>Envoyer !</button>
        {{ form_end(serieform) }}
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | Add
{% endblock %}

