<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <title>{% block title %}Series ! {% endblock %}</title>
</head>
<body>
    <header>
        {{ include('menu/nav.html.twig') }}
    </header>

    <main>
        {% block body %} {% endblock %}
    </main>

    <footer>
        {{ include('menu/nav.html.twig') }}
    </footer>

</body>
</html>