{% extends 'base.html.twig' %}

{% block title %}
    Error 404 | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>OOOOOOOOOPPPPPPPPPSSSSssssssss 404</h2>
    <h3>{{ exception.message }}</h3>
    <img src="error404.png" alt="">
{% endblock %}